root = true

[*]
charset = unset
end_of_line = unset
indent_style = tab
indent_size = 8
tab_width = 8
insert_final_newline = false
trim_trailing_whitespace = false

[.editorconfig]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
tab_width = 2
insert_final_newline = true
trim_trailing_whitespace = true

[Makefile]
charset = utf-8
end_of_line = lf
indent_style = tab
indent_size = 4
tab_width = 4
insert_final_newline = true
trim_trailing_whitespace = true

[Dockerfile*]
charset = utf-8
end_of_line = lf
indent_style = tab
indent_size = 4
tab_width = 4
insert_final_newline = true
trim_trailing_whitespace = true

[?*.*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
tab_width = 2
insert_final_newline = true
trim_trailing_whitespace = true

[?*.txt]
charset = unset
indent_style = tab
indent_size = 8
tab_width = 8
insert_final_newline = false
trim_trailing_whitespace = false

[?*.csv]
insert_final_newline = false

[?*.py]
indent_size = 4
tab_width = 4

[?*.go]
indent_style = tab
